version: "3"

services:
  # TODO: restore tmkms once its bug is fixed (issue #47)
#  tmkms:
#    container_name: tmkms
#    image: babylonlabs-io/tmkms:latest
#    volumes:
#      - ../.testnets/tmkms:/tmkms
#    command: tmkms start -c /tmkms/config/tmkms.toml
#    networks:
#      localnet:
#        ipv4_address: 192.168.10.18
#    ports:
#      - "26658:26658"

  babylondnode0:
    container_name: babylondnode0
    image: "${BABYLOND_IMAGE}"
    command: >
      babylond --home /babylondhome start --log_format 'plain' 2>&1 | tee /babylondhome/babylond.log
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    ports:
      - "26656-26657:26656-26657"
      - "1317:1317"
      - "9090:9090"
      - "2345:2345"
    volumes:
      - ../.testnets/node0/babylond:/babylondhome:Z
    networks:
      localnet:
        ipv4_address: 192.168.10.2
#    depends_on:
#      - tmkms
    environment:
      - BABYLON_BLS_PASSWORD=password

  babylondnode1:
    container_name: babylondnode1
    image: "${BABYLOND_IMAGE}"
    command: >
      babylond --home /babylondhome start --log_format 'plain' 2>&1 | tee /babylondhome/babylond.log
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    ports:
      - "26666-26667:26656-26657"
      - "1318:1317"
      - "9091:9090"
      - "2346:2345"
    volumes:
      - ../.testnets/node1/babylond:/babylondhome:Z
    networks:
      localnet:
        ipv4_address: 192.168.10.3
    environment:
      - BABYLON_BLS_PASSWORD=password

  bitcoindsim:
    build:
      context: contrib/images/bitcoindsim/
      dockerfile: ./Dockerfile
    image: babylonlabs-io/bitcoindsim:latest
    platform: linux/amd64
    container_name: bitcoindsim
    networks:
      localnet:
        ipv4_address: 192.168.10.30
    environment:
      - ZMQ_SEQUENCE_PORT=29000
      - ZMQ_RAWBLOCK_PORT=29001
      - ZMQ_RAWTR_PORT=29002
      - RPC_PORT=18443
      - RPC_USER=rpcuser
      - RPC_PASS=rpcpass
      - WALLET_PASS=walletpass
      - WALLET_NAME=default
      - BTCSTAKER_WALLET_NAME=btcstaker
      - BTCSTAKER_WALLET_ADDR_COUNT=3
      - GENERATE_INTERVAL_SECS=10
    ports:
      - "18443:18443"
      - "29000-29002:29000-29002"
    volumes:
      - ../.testnets/bitcoin:/bitcoindsim/.bitcoin:Z
      - ../.testnets/btc-staker:/home/btcstaker/.stakerd:Z

  electrs:
    image: mempool/electrs:v3.1.0
    container_name: electrs
    platform: linux/amd64
    networks:
      localnet:
        ipv4_address: 192.168.10.31
    depends_on:
      - bitcoindsim
    environment:
      - ELECTRS_NETWORK=regtest
      - ELECTRS_COOKIE=rpcuser:rpcpass
      - ELECTRS_DAEMON_RPC_ADDR=bitcoindsim:18443
      - ELECTRS_DB_DIR=/electrs/.electrs/db
    ports:
      - "8080:8080"
      - "3000:3000"
    volumes:
      - ../.testnets/electrs:/data:Z
      - ../.testnets/bitcoin:/bitcoin/.bitcoin:Z
    command:
      [ "--cookie", "rpcuser:rpcpass",
        "--network", "regtest",
        "--electrum-rpc-addr", "0.0.0.0:8080",
        "--http-addr", "0.0.0.0:3000",
        "--db-dir", "/electrs/.electrs/db/",
        "--daemon-rpc-addr", "bitcoindsim:18443",
        "--daemon-dir", "/bitcoin/.bitcoin",
        "-v",
        "--address-search",
        "--cors", "*",
        "--timestamp"
      ]


  vigilante-reporter:
    container_name: vigilante-reporter
    image: "${VIGILANTE_IMAGE}"
    command: >
      vigilante reporter --config /home/vigilante/config/vigilante.yml 2>&1 | tee /home/vigilante/config/reporter.log
    networks:
      localnet:
        ipv4_address: 192.168.10.7
    volumes:
      - ../.testnets/vigilante:/home/vigilante/config
    depends_on:
      - bitcoindsim
      - babylondnode0
    restart: unless-stopped

  vigilante-submitter:
    container_name: vigilante-submitter
    image: "${VIGILANTE_IMAGE}"
    command: >
      vigilante submitter --config /home/vigilante/config/vigilante.yml 2>&1 | tee /home/vigilante/config/submitter.log
    networks:
      localnet:
        ipv4_address: 192.168.10.8
    volumes:
      - ../.testnets/vigilante:/home/vigilante/config
    depends_on:
      - bitcoindsim
      - babylondnode0
    restart: unless-stopped

  vigilante-monitor:
    container_name: vigilante-monitor
    image: "${VIGILANTE_IMAGE}"
    command: >
      vigilante monitor --config /home/vigilante/config/vigilante.yml --genesis /home/vigilante/config/bbnconfig/genesis.json 2>&1 | tee /home/vigilante/config/monitor.log
    networks:
      localnet:
        ipv4_address: 192.168.10.9
    volumes:
      - ../.testnets/vigilante:/home/vigilante/config
    depends_on:
      - bitcoindsim
      - babylondnode0
    restart: unless-stopped

  vigilante-bstracker:
    container_name: vigilante-bstracker
    image: "${VIGILANTE_IMAGE}"
    command: >
      vigilante bstracker --config /home/vigilante/config/vigilante.yml 2>&1 | tee /home/vigilante/config/bstracker.log
    networks:
      localnet:
        ipv4_address: 192.168.10.10
    volumes:
      - ../.testnets/vigilante:/home/vigilante/config
    depends_on:
      - bitcoindsim
      - babylondnode0
    restart: unless-stopped

  btc-staker:
    container_name: btc-staker
    image: "${BTCSTAKER_IMAGE}"
    networks:
      localnet:
        ipv4_address: 192.168.10.11
    volumes:
      - ../.testnets/btc-staker:/home/btcstaker/.stakerd
    ports:
      - "15912:15812"
    depends_on:
      - bitcoindsim
      - babylondnode0
    environment:
      - BTCSTAKER_USERNAME=user
      - BTCSTAKER_PASSWORD=pass
    restart: unless-stopped

  finality-provider0:
    container_name: finality-provider0
    image: "${FP_IMAGE}"
    command: fpd start
    networks:
      localnet:
        ipv4_address: 192.168.10.12
    ports:
      - "15822:15812"
    volumes:
      - ../.testnets/finality-provider0:/home/finality-provider/.fpd
    depends_on:
      - babylondnode0
    restart: unless-stopped

  finality-provider1:
    container_name: finality-provider1
    image: "${FP_IMAGE}"
    command: fpd start
    networks:
      localnet:
        ipv4_address: 192.168.10.13
    ports:
      - "15832:15812"
    volumes:
      - ../.testnets/finality-provider1:/home/finality-provider/.fpd
    depends_on:
      - babylondnode0
    restart: unless-stopped

  finality-provider2:
    container_name: finality-provider2
    image: "${FP_IMAGE}"
    command: fpd start
    networks:
      localnet:
        ipv4_address: 192.168.10.14
    ports:
      - "15842:15812"
    volumes:
      - ../.testnets/finality-provider2:/home/finality-provider/.fpd
    depends_on:
      - babylondnode0
    restart: unless-stopped

  eotsmanager:
    container_name: eotsmanager
    image: "${FP_IMAGE}"
    command: eotsd start --home /home/finality-provider/.eotsd
    networks:
      localnet:
        ipv4_address: 192.168.10.15
    ports:
      - "15825:15813"
    volumes:
      - ../.testnets/eotsmanager:/home/finality-provider/.eotsd
    depends_on:
      - babylondnode0
      - finality-provider0
      - finality-provider1
      - finality-provider2
    restart: unless-stopped

  covenant-signer:
    container_name: covenant-signer
    image: "${COVENANT_SIGNER_IMAGE}"
    command: covenant-signer start
    networks:
      localnet:
        ipv4_address: 192.168.10.17
    volumes:
      - ../.testnets/covenant-signer:/home/covenant-signer/.signer
    depends_on:
      - babylondnode0
    restart: unless-stopped

  covenant-emulator:
    container_name: covenant-emulator
    image: "${COVENANT_IMAGE}"
    command: covd start
    networks:
      localnet:
        ipv4_address: 192.168.10.16
    volumes:
      - ../.testnets/covenant-emulator:/home/covenant-emulator/.covd
    depends_on:
      - babylondnode0
      - covenant-signer
    restart: unless-stopped

# TODO: Add a covenant signer

networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.10.0/25
